table.cube {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
td.cube {
    margin: 0px;
    padding: 0px;
}

td.cubeCell {
    width: 40px;
    height: 40px;
}
button.cubeButton {
    width: 100%;
    height: 100%;
}
button.color0 {
    background-color: gray;
}
button.color1 {
    background-color: white;
}
button.color2 {
    background-color: orange;
}
button.color3 {
    background-color: green;
}
button.color4 {
    background-color: red;
}
button.color5 {
    background-color: blue;
}
button.color6 {
    background-color: yellow;
}
button.selected {
    border: 5px solid black;
}

button.rotation {
    width: 100%;
    height: 100%;
}
